# Python
__pycache__/
*.pyc
.venv/

# VS Code
.vscode/

# Logs
logs/
*.log

# Data
data/raw/
data/vocab/
data/exports/

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env

# Markdown (except README)
*.md
!README.md
*.docx
*.pptx
*.drawio
*.xml

# Binary archives
*.tar.gz
*.zip
